
// $icon-font-path: "./fonts/"
$table-border-color: transparent
@import _bootstrap



.image-and-svg
  margin-left: auto
  margin-right: auto
  position: relative
  & > img,
  & > svg
    position: absolute

svg.revisioncapture
  width: 100%
  height: 600px
  line
    stroke-width: 1
    stroke: $btn-danger-border 
