
// $icon-font-path: "./fonts/"
// $table-border-color: transparent
$breadcrumb-bg: transparent
// $navbar-margin-bottom: 30px
$fa-font-path: "./fonts"


// http://imperavi.com/kube/css/labels
$gray-base: #0f0f0f
$gray-dark: lighten($gray-base, 20%)

$brand-primary:         darken(#2575ed, 6.5%)
$brand-success:         #2c9f42
$brand-info:            #2575ed
$brand-warning:         #ffc800
$brand-danger:          #de2c3b

$border-radius-base: 0
$border-radius-large: 2
$border-radius-small: 0

$btn-default-color: $gray-dark
$btn-default-bg: #e0e3e5
$btn-default-border: darken(#e0e3e5, 5%)


@import _bootstrap
@import font-awesome



.breadcrumb--headernav
  margin-top: $navbar-margin-bottom
  font-size: 1.4rem
.breadcrumb--headernav__brand
  font-size: 2rem

.progress--large
  $height: 40px
  height: $height
  .progress-bar
    line-height: $height
    font-size: 120%

.app-revisioncapture__keyboarshortcut__svg
  margin: 3em auto
  position: relative
  & > img,
  & > svg
    position: absolute
  svg.revisioncapture
    width: 100%
    height: 600px
    line
      stroke-width: 2
      stroke: $btn-danger-border 
.app-revisioncapture__keyboarshortcut__svg--blink
  .app-revisioncapture__keyboarshortcut__svg__target
    animation: blink 2s steps(10, start) infinite
    -webkit-animation: blink 1s step-end infinite

@keyframes blink
  from
    visibility: hidden
  50%
    visibility: visible

.app-revisioncapture__keyboarshortcut
  padding: .4em
  position: fixed
  bottom: 0
  right: 0

.app-revisioncapture__keyboarshortcut__title
  > span
    vertical-align: middle

.app-revisioncapture__keyboarshortcut__item
  margin-right: 0.8em

.app-revisioncapture__keyboarshortcut__togglebuttons
  @extend .clearfix
  .btn
    min-width: 10em
    margin-left: .2em
    margin-right: .2em

.paged-table
  .table:first-child
    margin-bottom: 0
    th, td
      border-bottom-width: 1px
  .table
    width: 100%
    .progress
      margin-bottom: 0
  .cell--clickable
    text-decoration: underline
    cursor: pointer
    &:hover
      text-decoration: none

.paged-table--captures
  .cell--captureName
    width: 20rem
  .cell--done
    width: 20rem
  .cell--checkedAs
    width: 20rem
  .cell--status
    width: 20rem

.paged-table--revisions
  .cell--revision
    width: 8rem

.paged-table__canvas
  height: 400px
  overflow: auto

