extends layout

block bootstrapScript
  script.
    (function() {
      var React = require('react');
      React.render(
        new React.createElement(require('app.index')),
        document.querySelector('.container-for-react')
      );
    })()
