extends layout

block bootstrapScript
  script.
    (function() {
      var React = require('react');
      React.render(
        new React.createElement(require('app.revision'), {revision: '#{revision}'}),
        document.querySelector('.container-for-react')
      );
    })()
