
<h1>Leviathan</h1>


<form method="POST" action="javascript:void 0" class="forms-inine-list nowrap">
    <label for="target-revision">
      リビジョン: 
      r<input value="3" id="target-revision" name="target-revision" placeholder="1" type="text" size="2" />
    </label>
    <button id="refresh-list" class="btn">DBの情報を取得</button>
    <button id="leviathan" class="btn btn-blue">リヴァイアサンする</button>
    <span id="progress-message" class="small color-gray-light"></span>
    <br />
    <span class="small color-gray-light">
      ひとつ前のリビジョンと全キャプチャの比較をおこないます
    </span>
</form>



<div class="output">
  <ul id="revision-output" class="end">
  </ul>
</div>
