doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    nav.navbar
      .container
        .navbar-header
          a.navbar-brand(href="/") Leviathan
    block content
    script(src="/js/bundle.js")
    // block bootstrapScript
